body{
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.konten{
    width: 60%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.kiri{
    background-color: skyblue;
    width: 50%;
    text-align: center;
    float: left;
}

.kanan{
    background-color: steelblue;
    width: 50%;
    text-align: left;
    float: left;
}

.panjang{
    height: 500px;
}

.rkiri{
    border-radius: 15px 0px 0px 15px;
}

.rkanan{
    border-radius: 0px 15px 15px 0px;
}

.congrats{
    color: white;
}

.pkiri{
    font-weight: bold;
    color:white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.isikiri{
    margin-top: 20%;
}

.textutama{
    color: whitesmoke;
    margin-left: 10%;
}

.form{
    color: white;
    margin-left: 10%;
}

.formpwd{
    padding-top: 5%;
}

#pwd, #username{
    width: 85%;
}

.btn{
    text-align: right;
    padding-top: 10%;
}

.tmbl{
    margin-right: 12%;
    background-color: skyblue;
    border: none;
    color: white;
    font-weight: bolder;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
}

.daftar{
    padding-top: 15%;
    color: white;
    text-align: center;
}